body {
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8950a0, #f2edf3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8950a0, #f2edf3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}